@using TourMaster.Models
@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card border-primary">
    <div class="card-header">
        <h2>Profile Settings</h2>
    </div>
    <div class="card-body">
        <form action="@Url.Action("savesettings", new { controller = "settings", area = "admin", id = Model.Id })" method="post" id="profile-settings" enctype="multipart/form-data">
            <input name="id" type="number" value="@Model.Id" hidden />
            <div class="row">
                <div class="col-md-8">
                    <h4>Main Info</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input class="form-control" name="name" type="text" value="@Model.Fullname.Split(' ')[0]" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Surname</label>
                                <input class="form-control" name="surname" type="text" value="@Model.Fullname.Split(' ')[1]" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input class="form-control" name="email" type="email" value="@Model.Email" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Password</label>
                            <button class="btn btn-warning btn-block" id="changePassBtn">Change</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Birthday</label>
                                <input class="form-control" name="birthday" type="date" value="@Model.Birthday.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <input class="form-control" type="tel" name="phone" value="@Model.Phone" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <select class="form-control" name="country">
                                    @foreach (Country cnt in ViewBag.Countries)
                                    {
                                        <option value="@cnt.Id" @(Model.City.CountryId == cnt.Id ? "selected" : "")>@cnt.CountryName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <select class="form-control" name="cityid">
                                    @foreach (City city in Model.City.Country.Cities)
                                    {
                                        <option value="@city.Id" @(Model.CityId == city.Id ? "selected" : "")>@city.CityName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4>Social Links</h4>
                    <div class="form-group">
                        <label class="control-label">Facebook</label>
                        <input class="form-control" name="facebook" type="text" value="@Model.Facebook" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Instagram</label>
                        <input class="form-control" name="instagram" type="text" value="@Model.Instagram" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">GooglePlus</label>
                        <input class="form-control" name="googleplus" type="text" value="@Model.GooglePlus" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Twitter</label>
                        <input class="form-control" name="twitter" type="text" value="@Model.Twitter" />
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Profile Image</h4>
                    <img class="rounded w-100" src="@Model.ProfileImage" />
                    <input class="form-control-file mt-3" type="file" name="profileimage" />
                </div>
            </div>
            <hr />
            <div class="form-buttons text-center">
                <button class="btn btn-primary" type="submit">Save Changes</button>
                <a class="btn btn-danger" href="@Url.Action("index", new { controller = "settings", area = "admin", id = Model.Id })">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="passModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("changepass", new { controller = "settings", area = "admin", id = Model.Id })" method="post" id="changePass">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input class="form-control" type="password" name="oldpass" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input class="form-control" type="password" name="pass" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password Confirmation</label>
                        <input class="form-control" type="password" name="passconf" />
                    </div>
                    <div class="form-buttons text-center">
                        <button class="btn btn-primary">Save Changes</button>
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="successModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Password successfully changed</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="dangerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Oops... Error occured while changing password. <br />Please, try later!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>