@model TourMaster.Models.Tour
@using TourMaster.Models;

@{
    User user = Session["User"] as User;
}
<div class="row">
    <div class="col-12">
        <div class="card border-primary">
            <div class="card-header">
                <h2>Create New Tour</h2>
            </div>
            <div class="card-body">
                <form action="" method="post" id="tour-create" enctype="multipart/form-data">
                    <input name="guideId" value="@user.Id" hidden />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">From</label>
                                <select class="form-control" name="fromCountry">
                                    <option value="" disabled selected>Country</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country.Id">@country.CountryName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="fromCity">
                                    <option value="" disabled selected>City</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Destination</label>
                                <select class="form-control" name="destCountry">
                                    <option value="" disabled selected>Country</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country.Id">@country.CountryName</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="destCity">
                                    <option value="" disabled selected>City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" name="price" type="number" placeholder="Price" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="currency">
                                    <option value="" disabled selected>Currency</option>
                                    @foreach (var currency in ViewBag.Currency)
                                    {
                                        <option value="@currency.Id">@currency.CurrencyName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Duration</label>
                                <input class="form-control" name="duration" type="number" placeholder="Duration"/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="durationType">
                                    <option value="" disabled selected>Duration Type</option>
                                    @foreach (var durType in ViewBag.DurationTypes)
                                    {
                                        <option value="@durType.Id">@durType.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Categories</label>
                                        <select class="form-control categories" name="categories[]" multiple>
                                            @foreach (var category in ViewBag.Categories)
                                            {
                                                <option value="@category.Id">@category.CategoryName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Transport</label>
                                        <input class="form-control" type="text" name="transport" placeholder="Transport" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Accomodation</label>
                                        <select class="form-control" name="accomodation">
                                            <option value="" disabled selected>Accomodation</option>
                                            @foreach (var acc in ViewBag.Accomodations)
                                            {
                                                <option value="@acc.Id">@acc.AccomodationName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Accomodation Level</label>
                                        <select class="form-control" name="accomodationLvl">
                                            <option value="" disabled selected>Accomodation Level</option>
                                            @foreach (var acclvl in ViewBag.AccomodationLvl)
                                            {
                                                <option value="@acclvl.Id">@acclvl.Level</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea class="form-control" name="description" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Choose Images</label>
                                <input class="form-control-file" type="file" name="images" multiple />
                            </div>
                            <div id="form-group">
                                <div id="dynamicImage">

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>