@using TourMaster.Models
@model Tour

<div class="row">
    <div class="col-12">
        <div class="card border-primary">
            <div class="card-header">
                <h2>
                    Details
                    <a class="mx-1" href="@Url.Action("edit", new { controller="tours", area="manage", id = Model.Id })" data-toggle="tooltip" data-placement="bottom" title="Edit">
                        <i class="icon-note text-warning text-value-sm"></i>
                    </a>
                </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            @{
                                string TourTitle = "";
                                if (Model.FromId != Model.DestinationId)
                                {
                                    TourTitle = Model.City.CityName + " - " + Model.City1.CityName + " Tour";
                                }
                                else
                                {
                                    TourTitle = Model.City.CityName + " Tour";
                                }
                            }
                            <h4>@TourTitle</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @{
                                        if (Model.Approved == 0)
                                        {
                                            <i class="icon-close text-danger" data-toggle="tooltip" data-placement="bottom" title="Tour is not approved by Administration"></i>
                                        }
                                        else if (Model.Approved == 1 && Model.Status == 1)
                                        {
                                            <i class="icon-check text-success" data-toggle="tooltip" data-placement="bottom" title="Active"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-close text-warning" data-toggle="tooltip" data-placement="bottom" title="Inactive"></i>
                                        }
                                    }
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Price)
                                </dt>

                                <dd>
                                    @Model.Price.ToString("#.##") @Model.Currency.CurrencyName
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Category)
                                </dt>

                                <dd class="text-capitalize">
                                    @{
                                        string[] cats = Model.Category.Split(',');
                                        @String.Join(" - ", cats);
                                    }
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Duration)
                                </dt>

                                <dd>
                                    @Model.Duration @Model.DurationType.Type
                                </dd>

                                <dt>
                                    Transport
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Vehicle)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Accomodation)
                                </dt>

                                <dd>
                                    @{
                                        if (Model.AccomodationId != null)
                                        {
                                            if (Model.AccomodationId == 3)
                                            {
                                                @(Model.AccomodationLevel.Level + " " + Model.Accomodation.AccomodationName)
                                            }
                                            else
                                            {
                                                @Model.Accomodation.AccomodationName
                                            }
                                        }
                                        else
                                        {
                                            @:N/A
                                        }
                                    }
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd class="text-justify">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    Posted Date
                                </dt>

                                <dd>
                                    @Model.PostedDate.ToString("HH:mm dd.MM.yyyy")
                                </dd>
                            </dl>
                        </div>
                        <hr />
                        <h4>Feedbacks</h4>
                        <div class="feedbacks">
                            <table class="table table-responsive-sm">
                                <tbody>
                                    @{
                                        foreach (Feedback fdbck in Model.Feedbacks.OrderByDescending(f=>f.Id))
                                        {
                                            <tr>
                                                <td>
                                                    <img class="rounded-circle d-inline-block align-top mr-3" width="50" src="@fdbck.User.ProfileImage" />
                                                    <ul class="list-unstyled d-inline-block">
                                                        <li>@fdbck.User.Fullname</li>
                                                        <li>
                                                            <i class="fas fa-star text-warning"></i> @fdbck.Rating
                                                        </li>
                                                    </ul>
                                                    <p>@fdbck.Text</p>
                                                    <span class="float-right">@fdbck.Date.ToString("HH:mm dd MMM yyyy")</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Main Image</h4>
                        <hr />
                        <ul class="list-unstyled">
                            <li>
                                <img src="@Model.TourImage.ImageURL" width="100%" />
                            </li>
                        </ul>
                        <h4>Tour Images</h4>
                        <hr />
                        <ul class="list-unstyled">
                            @{
                                if (Model.TourImages.Count != 0)
                                {
                                    foreach (var image in Model.TourImages)
                                    {
                                        <li class="mb-3">
                                            <img src="@image.ImageURL" width="100%" />
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        N/A
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


