@model TourMaster.Models.Tour

<div class="row">
    <div class="col-12">
        <div class="card border-primary">
            <div class="card-header">
                <h2>Edit</h2>
            </div>
            <div class="card-body">
                @{
                    string TourTitle = "";
                    if (Model.FromId == Model.DestinationId)
                    {
                        TourTitle = Model.City.CityName + " Tour";
                    }
                    else
                    {
                        TourTitle = Model.City.CityName + " - " + Model.City1.CityName + " Tour";
                    }
                }
                <h4>@TourTitle</h4>
                <hr />
                <form action="" method="post" id="tour-edit">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">From</label>
                                <select class="form-control" name="fromCountry">
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country.Id" @(Model.City.CountryId == country.Id ? "selected" : "")>@country.CountryName</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="fromCity">
                                    @foreach (var city in Model.City.Country.Cities)
                                    {
                                        <option value="@city.Id" @(Model.City.Id == city.Id ? "selected" : "")>@city.CityName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Destination</label>
                                <select class="form-control" name="destCountry">
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value="@country.Id" @(Model.City1.CountryId == country.Id ? "selected" : "")>@country.CountryName</option>
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control" name="destCity">
                                    @foreach (var city in Model.City1.Country.Cities)
                                    {
                                        <option value="@city.Id" @(Model.City1.Id == city.Id ? "selected" : "")>@city.CityName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Price</label>
                                <input class="form-control" name="price" type="number" value="@Model.Price.ToString("#.##")" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="currency">
                                    @foreach (var currency in ViewBag.Currency)
                                    {
                                        <option value="@currency.Id" @(Model.CurrencyId == currency.Id ? "selected" : "")>@currency.CurrencyName</option>
                                    }
                                </select>
                            </div>
                        </div><div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Duration</label>
                                <input class="form-control" name="duration" type="number" value="@Model.Duration" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="durationType">
                                    @foreach (var durType in ViewBag.DurationTypes)
                                    {
                                        <option value="@durType.Id" @(Model.DurationTypeId == durType.Id ? "selected" : "")>@durType.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />






                </form>
                @*@using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.FromId, "From", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("FromId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FromId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DestinationId, "DestinationId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("DestinationId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DestinationId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrencyId, "CurrencyId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CurrencyId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DurationTypeId, "DurationTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("DurationTypeId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DurationTypeId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccomodationId, "AccomodationId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("AccomodationId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AccomodationId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AccomodationLevelId, "AccomodationLevelId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("AccomodationLevelId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AccomodationLevelId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Vehicle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Vehicle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MainImageId, "MainImageId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("MainImageId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MainImageId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PostedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PostedDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PostedDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }*@
            </div>
        </div>
    </div>
</div>






