@model IEnumerable<TourMaster.Models.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccomodationLevel.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomodation.AccomodationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City1.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.CurrencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TourImage.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccomodationLevel.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accomodation.AccomodationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City1.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TourImage.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Fullname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
