@model IEnumerable<TourMaster.Models.Tour>

<h2>My Tours</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-center">
    <tr>
        <th>
            Status
        </th>
        <th>
            Destination
        </th>
        <th>
            Country
        </th>
        <th>
            Price
        </th>
        <th>
            Date
        </th>
        <th>
            Duration
        </th>
        <th>
            Accomodation
        </th>
        <th>
            Transport
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    if (item.Status == 0)
                    {
                        <i class="icon-close text-warning" data-toggle="tooltip" data-placement="bottom" title="Confirmed"></i>
                    }
                    else
                    {
                        <i class="icon-check text-success" data-toggle="tooltip" data-placement="bottom" title="Awaiting confirmation"></i>
                    }
                }
            </td>
            <td>
                @{
                    if (item.FromId == item.DestinationId)
                    {
                        @item.City.CityName
                    }
                    else
                    {
                        @(item.City.CityName + " - " + item.City1.CityName)
                    }
                }
            </td>
            <td>
                <span class="flag-icon flag-icon-@item.City1.Country.CountryCode"></span> @item.City1.Country.CountryName
            </td>
            <td>
                @(item.Price.ToString("#.##") + " " + item.Currency.CurrencyName)
            </td>
            <td>
                @item.PostedDate.ToString("HH:mm dd.MM.yyyy")
            </td>
            <td>
                @(item.Duration + " " + item.DurationType.Type)
            </td>
            <td>
                @{
                    if (item.AccomodationId != null)
                    {
                        if (item.AccomodationId == 3)
                        {
                                @(item.AccomodationLevel.Level + " " + item.Accomodation.AccomodationName)
                            }
                        else
                        {
                            @item.Accomodation.AccomodationName
                        }
                    }
                    else
                    {
                        @:N/A
                    }

                }
            </td>
            <td>
                <a class="mx-1" href="@Url.Action("details", new { controller="tours", area="manage", id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Details">
                    <i class="icon-info text-info"></i>
                </a> |
                <a class="mx-1" href="@Url.Action("edit", new { controller="tours", area="manage", id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Edit">
                    <i class="icon-note text-warning"></i>
                </a> |
                <a class="mx-1" href="@Url.Action("disable", new { controller="tours", area="manage", id = item.Id })" data-toggle="tooltip" data-placement="bottom" title="Disable">
                    <i class="icon-ban text-danger"></i>
                </a>
            </td>
        </tr>
    }

</table>
